$space-base: 16px !default;
$space-x-base: $space-base !default;
$space-y-base: $space-base !default;

$space-none: (
  x: 0,
  y: 0,
) !default;
$space-xs: (
  x: (
    $space-x-base * 0.25,
  ),
  y: (
    $space-y-base * 0.25,
  ),
) !default;
$space-sm: (
  x: (
    $space-x-base * 0.5,
  ),
  y: (
    $space-y-base * 0.5,
  ),
) !default;
$space-md: (
  x: $space-x-base,
  y: $space-y-base,
) !default;
$space-lg: (
  x: (
    $space-x-base * 1.5,
  ),
  y: (
    $space-y-base * 1.5,
  ),
) !default;
$space-xl: (
  x: (
    $space-x-base * 3,
  ),
  y: (
    $space-y-base * 3,
  ),
) !default;

$space-xxl: (
  x: (
    $space-x-base * 5,
  ),
  y: (
    $space-y-base * 5,
  ),
) !default;

// sorry for long line; we need .sass and it doesn't support multi-line list

$spaces: (
  'none': $space-none,
  'xs': $space-xs,
  'sm': $space-sm,
  'md': $space-md,
  'lg': $space-lg,
  'xl': $space-xl,
  'xxl': $space-xxl,
) !default;

$typography-font-family:
  'Roboto', '-apple-system', 'Helvetica Neue', Helvetica, Arial, sans-serif !default;

$h1: (
  size: 6rem,
  line-height: 6rem,
  letter-spacing: -0.01562em,
  weight: 600,
) !default;
$h2: (
  size: 3.75rem,
  line-height: 3.75rem,
  letter-spacing: -0.00833em,
  weight: 600,
) !default;
$h3: (
  size: 3.25rem,
  line-height: 3.125rem,
  letter-spacing: normal,
  weight: 600,
) !default;
$h4: (
  size: 2.375rem,
  line-height: 2.5rem,
  letter-spacing: 0.00735em,
  weight: 600,
) !default;
$h5: (
  size: 1.75rem,
  line-height: 2rem,
  letter-spacing: normal,
  weight: 600,
) !default;
$h6: (
  size: 1.5rem,
  line-height: '28px',
  letter-spacing: 0.01em,
  weight: 500,
) !default;
$subtitle1: (
  size: 1rem,
  line-height: 1.75rem,
  letter-spacing: 0.00937em,
  weight: 400,
) !default;
$subtitle2: (
  size: 0.875rem,
  line-height: 1.375rem,
  letter-spacing: 0.00714em,
  weight: 500,
) !default;
$body1: (
  size: 1rem,
  line-height: 1.5rem,
  letter-spacing: 0.03125em,
  weight: 400,
) !default;
$body2: (
  size: 0.875rem,
  line-height: 1.25rem,
  letter-spacing: 0.01786em,
  weight: 400,
) !default;
$overline: (
  size: 1.125rem,
  line-height: 1rem,
  weight: 500,
) !default;
$caption: (
  size: 0.75rem,
  line-height: 1.25rem,
  letter-spacing: 0.03333em,
  weight: 400,
) !default;
$content: (
  size: 1.625rem,
  line-height: '30px',
  weight: 500,
) !default;

$headings: (
  'h1': $h1,
  'h2': $h2,
  'h3': $h3,
  'h4': $h4,
  'h5': $h5,
  'h6': $h6,
  'subtitle1': $subtitle1,
  'subtitle2': $subtitle2,
  'body1': $body1,
  'body2': $body2,
  'overline': $overline,
  'caption': $caption,
  'content': $content,
) !default;

$primary: #ecdba7;
$secondary: #f5f2eb;
$accent: #9c27b0;

$dark: #1d1d1d;
$dark-page: #121212;

$positive: #21ba45;
$negative: #c10015;
$info: #31ccec;
$warning: #f2c037;

$grey: #f1efeb !default;
$grey-1: #fafafa !default;
$grey-2: #e5e5dd !default;
$grey-3: #eeeeee !default;
$grey-4: #e0e0e0 !default;
$grey-5: #bdbdbd !default;
$grey-6: #9e9e9e !default;
$grey-7: #757575 !default;
$grey-8: #616161 !default;
$grey-9: #424242 !default;
$grey-10: #1f1f1f !default;
$grey-11: #f5f5f5 !default;
$grey-12: #eeeeee !default;
$grey-13: #bdbdbd !default;

$yellow: #eedfaf !default;
$yellow-1: #f5f2eb !default;
$yellow-2: #fbf9f3 !default;
$yellow-3: #f9f3e1 !default;
$yellow-4: #fdfbf5 !default;
$yellow-5: #f7f0da !default;
$yellow-6: #ffeb3b !default;
$yellow-7: #fdd835 !default;
$yellow-8: #fbc02d !default;
$yellow-9: #f9a825 !default;
$yellow-10: #f57f17 !default;
$yellow-11: #ffff8d !default;
$yellow-12: #ffff00 !default;
$yellow-13: #ffea00 !default;
$yellow-14: #ffd600 !default;
